version: '3'
services:
  backend:
    build: ./backend
    ports:
      - "8001:8000"
    restart: always
    environment:
      - DEBUG=1
  dashboard:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: always
